@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"); */


*{
  scroll-behavior: smooth;
  transition: 0.3s;
}

body{
  overflow-x: hidden;
}

.description::before{
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  top: -11px;
  background: white;
  transform: skew(0, -2deg);
  left: 0;
}

.title{
  background: #0000006e;
}
.cimg{
  backdrop-filter: blur(5px);
}
textarea::placeholder,
input::placeholder{
  color: white;

}
 